.smaller{
  background: lightyellow;
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 100px;
  font-size: 1.4em;
}

.larger{
  margin-top: -20px;
  background: lightyellow;
  height: 200px;
  width: 200px;
  line-height: 200px;
  font-size: 3em;
  text-align: center;
  margin: 0 auto; 
}

#mainsub{
  text-align: center;
  font-size: 19px;
  margin-top: 5px;
  line-height: 30px;
}
