.summary {
  font-size: 35px;
  border: 1px solid black;
}
.summaryContent {
  font-size: 20px;
}
.logo {
  height: 50px;
  border-radius: 50%;
}
.readMoreText {
  display: inline-block;
  font-size: 23px;
  line-height: 50px;
  position: absolute;
  color: black;
}
.links ul li {
  position: relative;
}
.readMore {
  font-size: 35px;
  text-decoration: none;
}
.title {
  font-size: 60px;

}
.date {
font-size: 20px;
padding-bottom: 20px;
}
.prosCons {
  font-size: 35px;
}
.list {
  font-size: 20px;
}
td {
  width: 50%;
}
.readMoreWebsites:hover {
  font-weight: bold;
}
.prosCons {
  font-size: 30px;
}
.list {
  font-size: 20px;
}
@media only screen and (max-width: 1120px) {
  ['td'] {
    display: block;
  }

}
