@font-face {
    font-family: Hallo;
    src: url(../../resource/fonts/Hallo.otf);
}


.headContainer{
  background-size: cover;
  width:100%;
  min-height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 0.14vw 0.14vw white;
}

.headline{
  font-size: 7vw;
  text-align: center;
  font-family: "Hallo";
}

.datePublishedContainer{
  width:100%;
  background: linear-gradient(270deg, #e6e89c, #78ca40, #00fbe7, #f7acff);
  background-size: 800% 800%;
  -webkit-animation: dateGradient 30s ease infinite;
  -moz-animation: dateGradient 30s ease infinite;
  animation: dateGradient 30s ease infinite;
  min-height: 40px;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dateText{
  text-align: center;
  font-weight: bold;
  font-size: 1.2vw;
}

@media screen and (max-width: 777px) {
    .dateText{
      font-size: 2.2vw;
    }
}

@-webkit-keyframes dateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes dateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes dateGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.summaryContainer{
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100%;
  background-color: red;
}
